{{ define "content" }}
UserName:{{.Name}}
<h1>Sample TodoApp</h1>
 
<p>[<a href="/todos/new">Create</a>]</p>
<form  role="form" action="/todos/sort" method="post">
<select name="choice" id="choice">
    <option value="id昇順">作成昇順</option>
    <option value="id降順">作成降順</option>
    <option value="期限昇順">期限昇順</option>
    <option value="期限降順">期限降順</option>
</select>
<button type="submit">検索</button>
</form>
<hr>
{{ range .Todos }}
<div>{{ .Title }}</div>
<div>{{ .Category }}</div>
<div>{{ .Content }}</div>   
<div>{{ .Deadline }}</div>
<div>{{.CreatedAt}}</div>
<p>[<a href="/todos/edit/{{.ID}}">Edit</a>]</p>
<p>[<a href="/todos/delete/{{.ID}}">Delete</a>]</p>
<hr>
{{end}}
{{end}}